<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">
<!--<bean id="car" class="com.djs.helloSpring.v1.Car"></bean>-->
<!--<bean id="driver" class="com.djs.helloSpring.v1.Driver"></bean>-->
<!--<bean id="timeProxy" class="com.djs.helloSpring.v1.TimeProxy"></bean>-->


<!--<aop:config>-->
<!--    <aop:aspect id="time" ref="timeProxy">-->

<!--        <aop:pointcut id="onmove" expression="execution(void com.djs.helloSpring.v1.Car.fire())"/>-->
<!--        <aop:before method="before" pointcut-ref="onmove"></aop:before>-->
<!--        <aop:after method="after" pointcut-ref="onmove"></aop:after>-->
<!--    </aop:aspect>-->

<!--</aop:config>-->




</beans>